.imagem {
    background-image: url(http://hoganbrasil.com.br/wp-content/uploads/2022/03/imagem-atelie.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos1 {
    font-weight: bold !important;
}

.text-decorator-none {
    text-decoration: none !important;
}

.espelho {
background: rgba(255,255,255,0.5);
-webkit-backdrop-filter: blur(7px);
backdrop-filter: blur(7px);
}

.butlogar {
    background-color: rgb(1, 176, 182) !important;
    color: rgb(255, 255, 255) !important;
}