.container-apresentacao{
    height: auto;
    position: relative;
}

.img-logo{
    position: absolute;
    top: 15px;
    left: 35px;
    background-color: #FFF;
    background-image: url(../../img/Logo_3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    border-radius: 80px;
}

.apresentacao-header{
    background: rgba( 255, 255, 255, 0.35 );
    backdrop-filter: blur( 13.5px );
    z-index: 1000;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.apresentacao-header span{
    text-decoration: none;
    color: #0F1020;
    margin: 0px 45px;
    border: 1px solid #0F1020;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: bold;
    transition: 1s ease-in-out;
}

.apresentacao-header span:hover{
    background-color: #502274!important;
    color: #fff!important;
}

.apresentacao-banner{
    height: 68vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://i.imgur.com/8Axk8zn.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* .banner-logo{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: #FFF;
    background-image: url(../../img/Logo_3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* .banner-text {
    font-size: 2em;
    color: #fff;
    max-width: 20%;
    text-align: center;
} */

.container-somos{
    height: auto;
    display: flex;
    padding: 45px 90px;
    flex-direction: column;
    justify-content: center;
}

.title-section{
    font-size: 1.5em;
    font-weight: bold;
}

.text-section{
    font-size: 1.3em;;
}

.container-colabs{
    height: auto;
    text-align: center;
    padding: 45px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-colabs span{
    margin-bottom: 45px;
    font-size: 1.5em;
    font-weight: bold;
}

.colabs{

    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.card-colabs{

    width: 30%;
    margin: 30px 10px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 0px 0px 45px 45px ;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 1s ease-in;
}

.card-colabs:hover{
    background-color: #502274;
    color: #EFC3F5;
}
.colabs-fundo1{
    background-image: url(../../img/banner-projetos.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40%;
}
.colabs-img1 {
    position: absolute;
    top: 100px;
    background-color: #fff;
    background-image: url(../../img/colabs/perfil--01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 45px;
    width: 90px;
    height: 90px;
}
.colabs-img2 {
    position: absolute;
    top: 100px;
    background-color: #fff;
    background-image: url(../../img/colabs/gustavo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 45px;
    width: 90px;
    height: 90px;
}
.colabs-img3 {
    position: absolute;
    top: 100px;
    background-color: #fff;
    background-image: url(../../img/colabs/larissa-nogueira.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 45px;
    width: 90px;
    height: 90px;
}

.colabs-img4 {
    position: absolute;
    top: 100px;
    background-color: #fff;
    background-image: url(../../img/colabs/isabela.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 45px;
    width: 90px;
    height: 90px;
}

.colabs-img5 {
    position: absolute;
    top: 100px;
    background-color: #fff;
    background-image: url(../../img/colabs/edu.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 45px;
    width: 90px;
    height: 90px;
}
.colabs-img6 {
    position: absolute;
    top: 100px;
    background-color: #fff;
    background-image: url(../../img/colabs/lari-santos.jpeg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 45px;
    width: 90px;
    height: 90px;
}

.colabs-infos{
    height: 60%;
    width: 100%;
}

.infos-nome{
    margin: 35px 0px 10px 0px;
}

.infos-nome span{
    font-size: 1.4em;
    font-weight: bold;
}

.infos-area{
    margin-bottom: 15px;
}

.infos-area span{
    font-size: 1.2em;
    font-weight: 500;
}
.infos-redes{
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rede{
    height: auto;
    width: auto;
    border-radius: 50px;
}

.linkedin{
    width: 55px;
    height: 55px;
    background-image: url(../../img/linkedin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.git{
    width: 55px;
    height: 55px;
    background-image: url(../../img/logotipo-do-github.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}