.container-lista{
    margin-top: 100px!important;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../../img/banner-projetos.jpeg);
    padding: 15px 0px;
    
}
.container-box{
    width: 80%;

}
.card-container{
    display: flex;
    background-color: #f9f9f9;
    
}

.infos-post{
    margin: 0px 15px 0px 0px;
    padding: 5px;
    border-radius: 8px;

}
.modal{
    position: fixed;
    bottom: 120px;
    right: 65px;
}
.container-event{
    background-color: #f9f9f9;
}