
.box1{
    background-color: #B8E2C8;
    height: 100px;
}

.box2{
    background-color: #B8E2C8;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: #0F1020;
}

.textos{
    color: #0F1020;
}