.box1{
    background-color: #705861;
    height: 120px;
}

.box2{
    background-color: #B26AE6;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
    color: white;
}