.box1{
    background-color: #F3AC69;
    height: 120px;
}

.box2{
    background-color: #f3ac69d1;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
    color: white;
}